name: build
on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
      - name: Prepare Gradle Wrapper 8.2
        run: |
          mkdir -p gradle/wrapper
          echo "distributionBase=GRADLE_USER_HOME" > gradle/wrapper/gradle-wrapper.properties
          echo "distributionPath=wrapper/dists" >> gradle/wrapper/gradle-wrapper.properties
          echo "distributionUrl=https\\://services.gradle.org/distributions/gradle-8.2-bin.zip" >> gradle/wrapper/gradle-wrapper.properties
          echo "zipStoreBase=GRADLE_USER_HOME" >> gradle/wrapper/gradle-wrapper.properties
          echo "zipStorePath=wrapper/dists" >> gradle/wrapper/gradle-wrapper.properties
          curl -L https://raw.githubusercontent.com/gradle/gradle/v8.2/gradle/wrapper/gradle-wrapper.jar -o gradle/wrapper/gradle-wrapper.jar
          curl -L https://raw.githubusercontent.com/gradle/gradle/v8.2/gradlew -o gradlew
          curl -L https://raw.githubusercontent.com/gradle/gradle/v8.2/gradlew.bat -o gradlew.bat
          chmod +x gradlew
      - name: Build
        run: ./gradlew build --stacktrace --info
      - uses: actions/upload-artifact@v4
        with:
          name: neoseoul-dokkebi
          path: build/libs/*.jar
